html
{
	height:100%;
}

html *
{
	font-family: Verdana, Geneva, sans-serif;
}

body {
	margin:0;
	padding:0;
	min-height:100%;
	position:relative;
	padding-bottom:60px; /* Same height as the footer. */
}

p.ex2 {
	font-size: 16px;
	color: green;
}

a.name:link {color:dodgerblue;}
a.name:visited {color:blue;}
a.name:hover {color:darkred;}


h3, h4, h5, h6 {display: inline; color:royalblue}

td {
	padding: 8px;
	text-align: left;
}

#catchit-div {
	display: none;
}

.footer {
	position:absolute;
	bottom:0px;
	height: 30px;
	background:#d3d3d3;
	width:100%;
	text-align: center;
}

.content {
	padding: 0px 10px;
}


.float {
	margin: 20px 10px 0px;
	display: block;
	float:left;
}


.header{
	padding-bottom: 10px;
	background: url(../images/banner.jpg);
	min-height: 145px;
}

/* apply to button style only!*/
.btn:hover {
	background-color:#5cbf2a;
}

.btn:active {
	background-color:#44c767;
	position:relative;
	top:1px;
}

#logo {
		display: block;
		text-decoration: none;
		color: #FFF;
		font-size: 28px;
		text-align: center;
}
	
#since {
		color: #CCC;
		display: block;
		font-size: 18px;
		text-align: center;
}
	
#quote {
		font-style: italic;
		color: #FFF;
		font-size: 20px;
		display: block;
		text-align: center;
		margin: 10px 0 0;
}

.blue {
	font-weight: bold; font-size: 12px; color: royalblue;
}

.black {
    font-weight: bold; font-size: 14px; color: black;
}

.green {
    font-weight: bold; font-size: 12px; color: green;
}

.red {
	font-weight: bold; font-size: 12px; color: red;
}

.pink {
	font-weight: bold; font-size: 12px; color: pink;
}




.redsmall {
	font-size: 11px; color: red;
}

.bluesmall {
	 font-size: 12px; color: royalblue;
}

.goldsmall {
	font-size: 12px; color: gold;
}

.notes {
    font-size: 11px; color: black;
}
