<!DOCTYPE html>
<html ng-app="utr">
<head>

    <title>Welcome to UTR League</title>
    <meta name="description" content="UTR League, junior league in San Diego area">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-cookies.js"></script>

    <script src="javascript/app.js?v1"></script>
    <script src="javascript/login.js?v1"></script>
</head>

<body>

<script type="text/javascript" src="javascript/logo_static.js?v1"></script>

<div class="container" ng-controller="sessionController">

    <table width="830px" align="center">
        <tr>
            <td align="right">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="rule.html">Rules</a></li>
                        <li><a href="season.html">Season</a></li>
                        <li><a href="ranking.html">Ranking</a></li>
                        <li><a href="message.html">Messages</a></li>
                    </ul>
                </nav>
            </td>
        </tr>
        <tr>
            <td>
                <div class="clearfix" ng-show="loggedIn">
                    <p class="bluebig" style="text-align: right">Logged in as {{ firstName }} &nbsp; &nbsp;
                        <button class="btn btn-success" ng-click="logout()">
                            <span class="glyphicon glyphicon-remove"></span> Logout
                        </button>
                    </p>
                </div>
            </td>
        </tr>
    </table>

    <p></p>




    <table width="850px" align="center">
        <tr>
            <td style="min-width: 600px;" valign="top">
                <p></p>
                <h3>What is UTR Tennis League ?</h3>
                <hr>
                <p style="font-size: 10pt;">
                    * UTR Tennis League (UTR League) is a self-directed tennis league in San Diego North County. <br>
                    * There are four season in a year (June,  September, December and March).  Each season is approximately 12 weeks.<br>
                    * Matches are played at a mutually agreed upon location and time.<br>
                    * Match format - Best two of 3 sets with Ad. 10-point tiebreaker in lieu of 3rd set by mutual agreement of the players.<br>
                    * Each player will play every other player in his/her Group.<br>
                    * Groups are organized primarily by Player's UTR, regardless of age or gender.<br>
                    * Coaching is allowed at the end of each sets. Spectators or parents are not allowed to interfere with the match.<br>
                    * With UTR, defaults and forfeits do not benefit either player. It is in every player's benefit to play all matches.<br>
                    * Three-strike rule will apply for lateness, 24-hour cancellation, unsportsmanlike conduct and other infractions deemed inappropriate by League Director.<br>
                    * UTR League matches are sanctioned by UTR.<br>
                    * Cost is $30 Singles and $20 Doubles per quarter.<br>
                </p>

            </td>
            <td align="right" valign="top">
                <div class="clearfix" ng-hide="loggedIn">
                <table>
                    <tr>
                        <td style="min-width: 200px; white-space:nowrap; background-color: #dcdcdc">
                            <div ng-controller="loginController">

                                <hr>

                                <div style="text-align:center"><button class="btn btn-success" ng-click="register()">
                                        <span class="glyphicon glyphicon-pencil"></span> Register Now
                                </button>
                                </div>

                                <hr>

                                <p></p>

                                <h4 style="color:darkgreen">Existing player login</h4>
                                <p></p>
                                <form class="form-horizontal">

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="text" ng-model="login_email" placeholder="Email" size="24">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="password" ng-model="login_passwd" placeholder="Password" size="24">
                                        </div>
                                    </div>
                                    <hr>

                                    <div style="text-align:center">
                                    <button class="btn btn-success" ng-click="login()">
                                        <span class="glyphicon glyphicon-save"></span> Login
                                    </button>
                                    </div>
                                    <p class="bluesmall" style="text-align: right"><a href="resetPasswordRequest.html">Forgot password?</a></p>
                                </form>

                                <div class="red" ng-show="login_error">{{ login_errorMessage }}</div>
                            </div>
                        </td>
                    </tr>
                </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a target="_blank" href="http://twitter.com/share?text=Check%20out%20this%20site%20for%20Tennis%20League&url=http://www.justtennisleague.com">
                    <img src="./images/twitter.png"  style="width: 45px; height: 45px"/></a>

                <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.justtennisleague.com">
                    <img src="./images/facebook.png"  style="width: 45px; height: 45px"/></a>

                <a target="_blank" href="https://plus.google.com/share?text=Check%20out%20this%20site%20for%20Tennis%20League&url=http://www.justtennisleague.com">
                    <img src="./images/googleplus.png"  style="width: 45px; height: 45px"/></a>

                <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.justtennisleague.com&title=Check%20out%20this%20site%20for%20Tennis%20League&summary=&source=">
                    <img src="./images/linkedin.png"  style="width: 45px; height: 45px"/></a>
            </td>
        </tr>
    </table>



</div>

</body>
</html>
