<!DOCTYPE html>
<html ng-app="utr">
<head>
  <title>UTR League Match history.</title>
  <meta name="description" content="Match history for a player in league">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="all">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>

  <script src="javascript/app.js?v1"></script>
  <script src="javascript/match_hist.js?v1"></script>
</head>

<body>

<script type="text/javascript" src="javascript/logo_static.js?v1"></script>

<div class="container" ng-controller="sessionController">

    <div class="clearfix" ng-hide="loggedIn">
        <p><h3>This is member only area, please <a href="index.html">login</a> first to access the content.</h3></p>
    </div>
    <div class="clearfix" ng-show="loggedIn">
            <table width="800px" align="center">
                <tr>
                    <td>
                        <div ng-controller="matchHistController">
                        <hr>
                        <h3>Match Results for {{playerFName}} {{playerLName}} :</h3>
                        <hr/>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Winner</th>
                                <th>Opponent</th>
                                <th>Match Score</th>
                                <th>Set1</th>
                                <th>Set2</th>
                                <th>Set3</th>
                                <th>Played</th>
                                <th>Recorded</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="r in matchResults">
                                <td style="max-width: 150px">
                                    <p class="bluesmall"><img ng-show="{{r.enterByWinner}}" ng-src="./images/editor.png"  style="width: 12px; height: 12px"/>
                                        <a class="name" href="#" ng-click="loadResult(r.winnerId, r.winnerFName, r.winnerLName)">
                                            {{ r.winnerFName }} {{ r.winnerLName }}
                                        </a>
                                    </p>
                                </td>
                                <td style="max-width: 150px">
                                    <p class="bluesmall"><img ng-hide="{{r.enterByWinner}}" ng-src="./images/editor.png"  style="width: 12px; height: 12px"/>
                                        <a class="name" href="#" ng-click="loadResult(r.loserId, r.loserFName, r.loserLName)">
                                            {{ r.loserFName }} {{ r.loserLName }}
                                        </a>
                                    </p>
                                </td>
                                <td><p class="bluesmall">{{ r.matchScore }}</p></td>
                                <td><p class="bluesmall">{{ r.set1Score }}</p></td>
                                <td><p class="bluesmall">{{ r.set2Score }}</p></td>
                                <td><p class="bluesmall">{{ r.set3Score }}</p></td>
                                <td><p class="bluesmall">{{ r.matchDate | date:'M/d/yyyy'}}</p></td>
                                <td><p class="bluesmall">{{ r.recordTime | date:'M/d/yyyy HH:mm'}}</p></td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </td>
                </tr>
            </table>
    </div>
</div>

</body>
</html>