<!DOCTYPE html>
<html ng-app="utr">
<head>

    <title>Welcome to UTR League - Match information</title>
    <meta name="description" content="UTR League match information">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-cookies.js"></script>

    <script src="javascript/app.js?v1"></script>
    <script src="javascript/match.js?v1"></script>
</head>

<body>

<script type="text/javascript" src="javascript/logo_static.js?v1"></script>

<div class="container" ng-controller="sessionController">
    <table width="830px" align="center">
        <tr>
            <td align="right">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="rule.html">Rules</a></li>
                        <li><a href="ranking.html">Ranking</a></li>
                        <li class="active"><a href="match.html">Matches</a></li>
                        <li><a href="message.html">Messages</a></li>
                    </ul>
                </nav>
            </td>
        </tr>
        <tr>
            <td>
                <div class="clearfix" ng-show="loggedIn">
                    <p class="bluebig" style="text-align: right">Logged in as {{ firstName }} &nbsp; &nbsp;
                        <button class="btn btn-success" ng-click="logout()">
                            <span class="glyphicon glyphicon-remove"></span> Logout
                        </button>
                    </p>
                </div>
            </td>
        </tr>
    </table>

    <table width="800px" align="center">
        <tr>
            <td>
                <div class="clearfix" ng-hide="loggedIn">
                    <p><h3>This is member only area, please <a href="index.html">login</a> first to access the content.</h3></p>
                </div>
                <div class="clearfix" ng-show="loggedIn">
                    <div class="container" ng-controller="matchController">

                        <p class="blackbigger"> North County UTR League - Fall 2018 </p>
                        <table width="800px" align="center">

                            <tr>
                                <td>
                                    <hr>
                                    <h4>Submit Match Result</h4>
                                    <hr>
                                    <table class="table table-striped" align="left" style="width: 700px">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th style="min-width: 60px">Set 1</th>
                                            <th style="min-width: 60px">Set 2</th>
                                            <th style="min-width: 60px">Set 3</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><p class="black">You:</p></td>
                                            <td><p class="blue">{{fName}} {{lName}}</p></td>

                                            <td>
                                                <p class="blue">
                                                    <select ng-options="o as o for o in scoreRange" ng-model="score_you1"/>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="blue">
                                                    <select ng-options="o as o for o in scoreRange" ng-model="score_you2"/>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="blue">
                                                    <select ng-options="o as o for o in scoreRange" ng-model="score_you3"/>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p class="black">Opponent:</p></td>
                                            <td>
                                                <p class="blue">
                                                    <select ng-options="player.firstName + ' ' + player.lastName for player in players"
                                                            ng-model="opponent" required="true" style ="max-width: 160px"/>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="blue">
                                                    <select ng-options="o as o for o in scoreRange" ng-model="score_opp1"/>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="blue">
                                                    <select ng-options="o as o for o in scoreRange" ng-model="score_opp2"/>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="blue">
                                                    <select ng-options="o as o for o in scoreRange" ng-model="score_opp3"/>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p class="black">Match Note:</p></td>
                                            <td colspan="4">
                                                <input size="50" type="text"  ng-model="matchMemo" placeholder="Optional notes about the match" />
                                                </input>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p class="black">Match Date:</p></td>
                                            <td>
                                                <input size="10" type="text"  ng-model="matchDate" placeholder="mm/dd/yyyy" required />
                                                <div>
                                                    <span class="redsmall" ng-show="dateRequired">Date field is required</span>
                                                    <span class="redsmall" ng-show="dateInvalid">Not a valid date! (mm/dd/yyyy)</span>
                                                </div>
                                                </input>
                                            </td>
                                            <td colspan=3 >
                                                <button class="btn btn-success" ng-disabled="dateRequired || dateInvalid || oppRequired" ng-click="submit()">
                                                    <span class="glyphicon glyphicon-save"></span> Submit Score
                                                </button>
                                                <div class="redsmall" ng-show="sendError">{{ errorMessage }}</div>
                                                <div class="bluesmall" ng-show="sendSuccess">Score has been submitted</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr/>
                                    <h4>Past Match Results</h4>
                                    <span class="pull-right">
                                        <input type="checkbox" ng-model="showMemo">&nbsp;Show notes &nbsp;&nbsp;&nbsp;
                                        <select ng-model="resultDivisionId"
                                                ng-options="division.id as (division.name) for division in divisions"
                                                ng-change="reload()">

                                        </select>
                                    </span>
                                    <hr>
                                    <table ng-hide="showMemo" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Winner</th>
                                            <th>Opponent</th>
                                            <th>Match Score</th>
                                            <th>Set1</th>
                                            <th>Set2</th>
                                            <th>Set3</th>
                                            <th>Played</th>
                                            <th>Recorded</th>
                                            <th>Remove</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="r in matchResults">
                                            <td style="max-width: 150px"><p class="bluesmall"><img ng-show="{{ r.enterByWinner }}" ng-src="./images/editor.png"  style="width: 12px; height: 12px"/>
                                                <a class="name" href="#" ng-click="popup(r.winnerId, r.winnerFName, r.winnerLName)"> {{ r.winnerFName }} {{ r.winnerLName }} </a></p>
                                            </td>
                                            <td style="max-width: 150px"><p class="bluesmall"><img ng-hide="{{ r.enterByWinner }}" ng-src="./images/editor.png"  style="width: 12px; height: 12px"/>
                                                <a class="name" href="#" ng-click="popup(r.loserId, r.loserFName, r.loserLName)"> {{ r.loserFName }} {{ r.loserLName }} </a></p>
                                            </td>
                                            <td><p class="bluesmall">{{ r.matchScore }}</p></td>
                                            <td><p class="bluesmall">{{ r.set1Score }}</p></td>
                                            <td><p class="bluesmall">{{ r.set2Score }}</p></td>
                                            <td><p class="bluesmall">{{ r.set3Score }}</p></td>
                                            <td><p class="bluesmall">{{ r.matchDate | date:'M/d/yyyy'}}</p></td>
                                            <td><p class="bluesmall">{{ r.recordTime | date:'M/d/yyyy HH:mm'}}</p></td>
                                            <td style="text-align: center">
                                                <a href="#" ng-click="deleteResult(r.id)" ng-show="canDelete(r.winnerId, r.loserId)">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table ng-show="showMemo" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Winner</th>
                                            <th>Opponent</th>
                                            <th>Match Score</th>
                                            <th>Set1</th>
                                            <th>Set2</th>
                                            <th>Set3</th>
                                            <th>Played</th>
                                            <th>Notes</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="r in matchResults">
                                            <td style="max-width: 150px"><p class="bluesmall"><img ng-show="{{ r.enterByWinner }}" ng-src="./images/editor.png"  style="width: 12px; height: 12px"/>
                                                <a class="name" href="#" ng-click="popup(r.winnerId, r.winnerFName, r.winnerLName)"> {{ r.winnerFName }} {{ r.winnerLName }} </a></p>
                                            </td>
                                            <td style="max-width: 150px"><p class="bluesmall"><img ng-hide="{{ r.enterByWinner }}" ng-src="./images/editor.png"  style="width: 12px; height: 12px"/>
                                                <a class="name" href="#" ng-click="popup(r.loserId, r.loserFName, r.loserLName)"> {{ r.loserFName }} {{ r.loserLName }} </a></p>
                                            </td>
                                            <td><p class="bluesmall">{{ r.matchScore }}</p></td>
                                            <td><p class="bluesmall">{{ r.set1Score }}</p></td>
                                            <td><p class="bluesmall">{{ r.set2Score }}</p></td>
                                            <td><p class="bluesmall">{{ r.set3Score }}</p></td>
                                            <td><p class="bluesmall">{{ r.matchDate | date:'M/d/yyyy'}}</p></td>
                                            <td style="min-width:100px; max-width: 150px;"><p class="bluesmall">{{ r.matchMemo }}</p></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>


                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>
</body>
</html>
