<!DOCTYPE html>
<html ng-app="utr">
<head>
    <title>Register for UTR League</title>
    <meta name="description" content="Register for UTR League">


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-cookies.js"></script>

    <script src="javascript/app.js?v1"></script>
    <script src="javascript/register.js?v1"></script>
</head>

<body>

<script type="text/javascript" src="javascript/logo_static.js?v1"></script>

<div class="container">

    <table width="830px" align="center">
        <tr>
            <td align="right">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="rule.html">Rules</a></li>
                    </ul>
                </nav>
            </td>
        </tr>
    </table>

    <p></p>
    <div  ng-controller="registerController">
    <table width="800px" align="center">
        <tr>
            <td colspan="2">
                <p></p>
                <h3>Register for UTR League account</h3>
                <hr style='margin-bottom:0px'/>
            </td>
        </tr>
        <tr>
            <td style="min-width: 540px;" valign="top">
                <form class="form-horizontal">
                    <p>This player must have already signed up <a href="https://www.myutr.com/events/116">the UTR event</a> </p>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Player First Name:</label>

                        <div class="col-sm-8">
                            <input type="text" ng-model="fName" placeholder="First Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Player Last Name:</label>

                        <div class="col-sm-8">
                            <input type="text" ng-model="lName" placeholder="Last Name">
                        </div>
                    </div>

                    <hr>

                    <p>New account information</p>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Email (Login id):</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="email" placeholder="Email">
                            <div class="redsmall" ng-show="error_email">Invalid email address</div>
                            <div class="redsmall" ng-show="error_email_length">Email address cannot exceed 38
                                characters
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Password:</label>
                        <div class="col-sm-8">
                            <input type="password" ng-model="passwd1" placeholder="Password">
                            <div class="redsmall" ng-show="error_passwd_length">Password length need to be more than
                                six
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Repeat Password:</label>
                        <div class="col-sm-8">
                            <input type="password" ng-model="passwd2" placeholder="Repeat Password">
                            <div class="redsmall" ng-show="error_passwd_match">Passwords do not match</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Contact Phone:</label>

                        <div class="col-sm-8">
                            <input type="text" ng-model="phone" placeholder="Phone">
                            <div class="redsmall" ng-show="error_phone_length">Phone length must be between 10 and 15 digits</div>
                            <div class="redsmall" ng-show="error_phone">Phone number should contains digits only</div>
                        </div>
                    </div>

                    <div id="catchit-div" class="form-group">
                        <label class="col-sm-4 control-label">Leave empty:</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="bot" placeholder="Anti-spam, leave empty">
                        </div>
                    </div>
                    <hr>

                    <button class="btn btn-success" ng-disabled="error_email || error_passwd_match || error_passwd_length || error_firstname_length
    || error_lastname_length || error_email_length || error_phone_length || incomplete" ng-click="createAccount()">
                        <span class="glyphicon glyphicon-save"></span> Create Account
                    </button>
                </form>

                <div class="red" ng-show="failedReg">{{ errorMessage }}</div>
            </td>
        </tr>
    </table>
    </div>
</div>


</body>
</html>