<!DOCTYPE html>
<html ng-app="utr">
<head>
    <title>Welcome to UTR League - reset you password</title>
    <meta name="description" content="UTR league reset password">
    <meta property="og:image" content="images/icon.jpg">
    <link rel="image_src" href="images/icon.jpg">
    <link rel="icon" href="images/icon.jpg"/>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-cookies.js"></script>

    <script src="javascript/app.js?v2"></script>
    <script src="javascript/resetPassword.js?v2"></script>
</head>

<body>

<script type="text/javascript" src="javascript/logo_static.js"></script>

<div class="container">

    <table width="830px" align="center">
        <tr>
            <td align="right">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="rule.html">Rules</a></li>
                    </ul>
                </nav>
            </td>
        </tr>
    </table>
    <p></p>

    <div ng-controller="resetPasswordController">
        <table width="800px" align="center">
            <tr nd-show="validRequest">
                <td style="min-width: 550px; white-space:nowrap" valign="top">
                    <div ng-show="validRequest">
                        <form class="form-horizontal">
                            <p></p>
                            <h3>Choose a new password for account</h3>
                            <hr>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Account email:</label>
                                <div class="col-sm-8">
                                    <label>{{ email }} </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">New Password:</label>
                                <div class="col-sm-8">
                                    <input type="password" ng-model="passwd1" placeholder="Password">
                                    <div class="redsmall" ng-show="error_passwd_length">Password length need to be more
                                        than six
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Repeat Password:</label>
                                <div class="col-sm-8">
                                    <input type="password" ng-model="passwd2" placeholder="Repeat Password">
                                    <div class="redsmall" ng-show="error_passwd_match">Passwords do not match</div>
                                </div>
                            </div>

                            <div id="catchit-div" class="form-group">
                                <label class="col-sm-3 control-label">Leave empty:</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="bot" placeholder="Anti-spam, leave empty">
                                </div>
                            </div>
                            <hr>

                            <button class="btn btn-success" ng-disabled="incomplete" ng-click="updatePassword()">
                                <span class="glyphicon glyphicon-save"></span> Update Password
                            </button>
                            <p></p>
                            <div class="blue" ng-show="successUpdate">Password is updated successfully.</div>
                            <div class="red" ng-show="failedUpdate">{{ errorMessage }}</div>
                        </form>
                    </div>
                    <div ng-hide="validRequest">
                        Oops... Something is wrong with your password reset link, please make sure it is the link in the
                        reset email you got. <br><br>
                        Did you make multiple password reset requests for your account? You have to use the link in the
                        last request email in this case. <br><br>
                        If you still have trouble resetting password, please
                        <a href="mailto:justtennisleague@gmail.com?Subject=Reset%20Password" target="_top">send an
                            email</a> to the admin.<br>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</div>

</body>
</html>